export(generateResiduals)
export(main)
importFrom("S4Vectors", "findMatches")
importFrom("utils", "data", "read.csv", "write.csv", "write.table")
importFrom("graphics", "abline", "pairs", "par", "points", "rect", "strwidth",
"text")
importFrom("minfi", "estimateCellCounts", "read.metharray.exp", "detectionP",
"preprocessRaw", "mapToGenome", "ratioConvert", "featureNames",
"dropLociWithSnps", "getBeta", "qcReport")
importFrom("knitr", "kable")
importFrom("reshape2", "melt")
importFrom("ggpubr", "ggscatter", "stat_cor")
importFrom("readr", "write_file")
importFrom("glmmTMB", "glmmTMB", "glmmTMBControl")
importFrom("grDevices", "cairo_pdf", "dev.off")
import(ggplot2)
import(preprocessCore)
import(stats)
import(reshape2)
import(devtools)
import(sesame)
import(methylclock)
importFrom(grDevices, png, dev.off)
importFrom(tidyr, pivot_longer)
importFrom(tidyselect, all_of)
