export(main)
import(BiocManager)
import(minfi)
import(IlluminaHumanMethylationEPICanno.ilm10b4.hg19)
import(IlluminaHumanMethylationEPICmanifest)
import(IlluminaHumanMethylation450kmanifest)
import(IlluminaHumanMethylation450kanno.ilmn12.hg19)
import(methylclock)
import(DunedinPACE)
import(FlowSorted.CordBlood.450k)
import(tidyverse)
import(ggplot2)
import(ggpubr)
import(umap)
import(lme4)
import(dnaMethyAge)
import(glmmTMB)
import(reshape2)
